<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>isle3</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>

  <link rel='stylesheet' type='text/css' href='/stylesheets/map.css'/>
  <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/ui-lightness/jquery-ui.css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://s.phono.com/releases/0.2/jquery.phono.js"></script>
  <%= javascript_include_tag "phono" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <div id="header-wrapper">
    <div id="header">
      <div id="logo"><img src="/images/isle3-001.png" title="isle3" alt="isle3"/></div>

      <div id="nav-wrapper">
        <div id="nav">
          <ul>
            <li><%= link_to 'Home', root_url %></li>
            <li><%= link_to 'Contact', contact_url %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>

</div>
<div id="footer"><p class="copyright">&copy; isle3 2011 All rights reserved.</p></div>
</body>
</html>
